#container {
    border: 4px double #000;
    background-color: #3c763d;
}

#shopcart {
    float:left;
}

button {
    padding: 0;
    border: 0;
    margin: 0 5px;
}

#shopcart_container {
    height: 100px;
}

#mainview {
    border: 2px solid #000;

}

.clear {
    clear: both;
}

#coupon {
    height: 40px;
    text-align: center;
}

#overlay img {
    height: 100px;
    position: absolute;
}

.spin {
    margin: 10px 0;
    text-align: center;
}
#spin {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    color: #ffffff;
    border: 0px;
}

#shopcartitems {
    width: 210px;
    overflow-x: auto;
    overflow-y: hidden;
}

#shopcartitems ul {
    vertical-align: top;
    white-space: nowrap;
}

#shopcartitems li {
    vertical-align: top;
    margin: 0 5px;
    height: 90px;
    width: 90px;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
}

#shopcartitems li>img{
    height: 90px;
    position: static;
}

#overlay {
    position: fixed;
    top:0;
    left:0;
}

.trans {
    transition: 1s;
}

.removeimage {
    transform: translateY(100%);
}
