#container {
    border: 4px double #000;
    background-color: #3c763d;
}

#shopcart {
    float:left;
    background-image: url("shopingcart_button.png");
    width: 88px;
    height: 102px;
}

button {
    padding: 0;
    border: 0;
    margin: 0 5px;
    background-color: #3c763d;
    outline: 0px;
}

#shopcart_container {
    margin: 5px 0;
    height: 107px;
}

.clear {
    clear: both;
}

#coupon {
    margin: 5px 0;
    height: 90px;
    background-image: url("coupon.jpg");
    background-repeat: no-repeat;
    background-size: auto 100px;
    background-position: center;
}

#overlay img {
    height: 100px;
    position: absolute;
}

#spin_container {
    text-align: center;
}

#spin {
    margin-top: 5px;
    width: 98px;
    height: 97px;
    background-image: url("spin_button.png");
}

#shopcartitems {
    width: 210px;
    overflow-x: auto;
    overflow-y: hidden;
    display: none;
}

#shopcartitems ul {
    vertical-align: top;
    white-space: nowrap;
}

#shopcartitems ul li {
    vertical-align: top;
    margin: 0 5px;
    height: 102px;
    width: 102px;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
}

#shopinglist li>img{
    height: 102px;
}

#overlay {
    position: fixed;
    top:0;
    left:0;
}

.trans {
    transition: 1s;
}

.removeimage {
    transform: translateY(120%);
}

#canvasview {
    background-image: url("slots.png");
    background-position: 50%, 50%;
    background-repeat: no-repeat;
}

.arrow {
    position: absolute;
    top: 253px;
}

.left {
    left:5px;

}

.right {
    left:277px;
    transform: scaleX(-1);
}

