#container {
    background-color: #3c763d;
    height: 100vh;
    width: 100vw;
}

#shopcart {
    float:left;
    background-image: url("shopingcart_button.png");
    width: 88px;
    height: 102px;
}

button {
    padding: 0;
    border: 0;
    margin: 0 5px;
    background-color: #3c763d;
    outline: 0px;
}

#shopcart_container {
    margin: 5px 0;
    height: 107px;
}

.clear {
    clear: both;
}

#coupon {
    margin: 5px 0;
    height: 90px;
    background-image: url("coupon.jpg");
    background-repeat: no-repeat;
    background-size: auto 90px;
    background-position: center;
}

#coupon-landscape {
    margin: 5px 0;
    height: 90px;
    width: 46vw;
    background-image: url("coupon.jpg");
    background-repeat: no-repeat;
    background-size: auto 90px;
    background-position: center;
    display: none;
}

#overlay img {
    height: 100px;
    position: absolute;
}

#spin_container {
    text-align: center;
}

#spin {
    margin-top: 5px;
    width: 95px;
    height: 95px;
    background-image: url("btn_spin_normal.png");
}

#shopcartitems {
    width: 210px;
    overflow-x: auto;
    overflow-y: hidden;
    display: none;
}

#shopcartitems ul {
    vertical-align: top;
    white-space: nowrap;
}

#shopcartitems ul li {
    vertical-align: top;
    margin: 0 5px;
    height: 102px;
    width: 102px;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
}

#shopinglist li>img{
    height: 102px;
}

#overlay {
    position: fixed;
    top:0;
    left:0;
}

.trans {
    transition: 1s;
}

.removeimage {
    transform: translateY(120%);
}

.arrow {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    z-index: 1;
}

.right {
    left:100%;
    margin-left: -39px;
    transform: scaleX(-1);
}

#slots {
    width: 356px;
    height: 425px;
    background-image: url("slots.png");
    background-position: center center;
    background-repeat: no-repeat;
    display:flex;
    position: relative;
    margin: 0 auto;
}

#canvasview {
    position: relative;
    margin: auto;
}

.shadow {
    //position: absolute;
    width: 90%;
    height: 100%;
    left:5%;
    top:0;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.4) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.4) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=0 );
}

@media screen and (orientation:landscape) {
    #coupon {
        display: none;
    }

    #shopcart_container {
        float: left;
    }

    #coupon-landscape {
        display: block;
    }

    #slots {
        float: left;
        height: 100vh;
    }

    #spin_container {
        clear: both;
    }

    #shopcart {
        margin: 20px 0 20px 10px;
    }

    #shopcartitems {
        float: left;
        margin-top: 20px;
    }
}
